Common {
  end_time = 100.0;
  dt = 1e-2;
  min_x = 0;
  max_x = 10.0;
  N_x = 500;
}

Fields {
  
  boundary_maxx="periodic";
  boundary_minx="periodic";
  
  Ex = 0.0;
  Ey = 0.0;
  Ez = 0.0;
  
  Bx = 1.0;
  By = 0.0;
  Bz = 0.0;
}

Species Electrons {
  name = "electrons";
  charge = 1.0;
  mass = 1.0;
  ppc = 10;
  density = 1;
  temperaturex = 1e-2;
  temperaturey = 1e-2;
  temperaturez = 1e-2;
  driftx = 0.0;
  drifty = 0.0;
  driftz = 0.0;
  
  boundary_maxx="periodic";
  boundary_minx="periodic";
}

Species Ions {
  name = "ions";
  charge = 1.0;
  mass = 1836.0;
  ppc = 10;
  density = 1;
  temperaturex = 2.3338e-4;
  temperaturey = 2.3338e-4;
  temperaturez = 2.3338e-4;
  driftx = 0.0;
  drifty = 0.0;
  driftz = 0.0;
  
  boundary_maxx="periodic";
  boundary_minx="periodic";
}

FieldDiagnostic Ex {
  file = "Ex_#t.h5";
  field = "Ex";
  interval = 10;
  append = 0;
}

FieldDiagnostic Ey {
  file = "Ey_#t.h5";
  field = "Ey";
  interval = 10;
  append = 0;
}

FieldDiagnostic Ez {
  file = "Ez_#t.h5";
  field = "Ez";
  interval = 10;
  append = 0;
}

FieldDiagnostic Bx {
  file = "Bx_#t.h5";
  field = "Bx";
  interval = 10;
  append = 0;
}

FieldDiagnostic By {
  file = "By_#t.h5";
  field = "By";
  interval = 10;
  append = 0;
}

FieldDiagnostic Bz {
  file = "Bz_#t.h5";
  field = "Bz";
  interval = 10;
  append = 0;
}

