// dimensions
float extent = 100e-6;

// laser amplitude
float E0 = 1.0;

// beam wavelength
float beam_lambda = 1e-6;
float beam_k = 2*pi/beam_lambda;
float beam_om = clight*beam_k;

// plasma density
float plasma_den = 0.8;  // measured in critical plasma densities
float ncrit = beam_om^2 * me*eps0 / e^2;

Common {
  min_x = -extent;
  max_x = extent;
  N_x = 2000;
  dt = 0.99*2*extent/(N_x*clight);
  end_time = 2*extent/clight;
}

EMFields {
  
  boundary_maxx="periodic";
  boundary_minx="periodic";
  
  float x0 = -0.5*extent;
  
  Ex = 0.0;
  Ey = E0*exp((x-x0)^2/10^2)*sin(beam_k*x);
  Ez = 0.0;
  
  Bx = 0.0;
  By = 0.0;
  Bz = Ey/clight;
}

Species Electrons {
  name = "electrons";
  charge = 1.0;
  mass = 1.0;
  ppc = 10;
  density = plasma_den*ncrit*logistic(x, 10e-6, 0.0)*logistic(x, 10e-6, max_x-40e-6);
  densityCutoff = 1e-6*plasma_den*ncrit
  temperaturex = 0.0;
  temperaturey = 0.0;
  temperaturez = 0.0;
  driftx = 0.0;
  drifty = 0.0;
  driftz = 0.0;
  
  boundary_maxx="periodic";
  boundary_minx="periodic";
}

FieldDiagnostic Ex {
  file = "Ex_#t.h5";
  field = "Ex";
  interval = 10;
  append = 0;
}

FieldDiagnostic Ey {
  file = "Ey_#t.h5";
  field = "Ey";
  interval = 10;
  append = 0;
}

FieldDiagnostic Ez {
  file = "Ez_#t.h5";
  field = "Ez";
  interval = 10;
  append = 0;
}

FieldDiagnostic Bx {
  file = "Bx_#t.h5";
  field = "Bx";
  interval = 10;
  append = 0;
}

FieldDiagnostic By {
  file = "By_#t.h5";
  field = "By";
  interval = 10;
  append = 0;
}

FieldDiagnostic Bz {
  file = "Bz_#t.h5";
  field = "Bz";
  interval = 10;
  append = 0;
}

