Common {
  end_time = 1.0;
  dt = 0.1;
  min_x = 0;
  min_y = 0;
  max_x = 1;
  max_y = 1;
  N_x = 100;
  N_y = 100;
}

Fields {
  float xs = 2*(x-0.5);
  float ys = 2*(y-0.5);
  Ex = 0.0;
  Ey = sin(6.28*sqrt(xs*xs + ys*ys)) 
    + 0.1*cos(20*(xs+ys));
  Ez = 0.0;
  
  Bx = 0.0;
  By = 0.0;
  Bz = 0.0;
}