
float size = 1e-5;
int nGrid = 100;
float dx = size/nGrid;

float xs = x - 25*dx;
float ys = y - 5*dx;

// maximum density, we consider a single electron
float n0 = 1.0/dx^2;

Common {
  min_x = 0;
  min_y = 0;
  max_x = size;
  max_y = 10*dx;
  N_x = nGrid;
  N_y = 10;
  dt = sqrt(0.5)*max_x/(N_x*clight);
  end_time = 5*max_x/clight;
}

Fields {
  boundary_maxx="periodic";
  boundary_minx="periodic";
  boundary_maxy="periodic";
  boundary_miny="periodic";
  
  Ex = 0.0;
  Ey = 0.0;
  Ez = 0.0;
  
  Bx = 0.0;
  By = 0.0;
  Bz = 0.0;
}


Species Electrons {
  name = "electrons";
  charge = e;
  mass = me;
  ppc = 1;
  density = n0*exp(-(xs^10+ys^10)/(0.5*dx)^10);
  densityCutoff = 0.1*n0;
  
  driftx = clight/10;
  drifty = 0.0;
  driftz = 0.0;
  
  boundary_maxx="periodic";
  boundary_minx="periodic";
}


ParticleDiagnostic phase {
  file = "phase_#t.h5";
  field = "electrons";
  interval = 1;
  append = 0;
}
FieldDiagnostic Ex {
  file = "Ex_#t.h5";
  field = "Ex";
  interval = 1;
  append = 0;
}

FieldDiagnostic Ey {
  file = "Ey_#t.h5";
  field = "Ey";
  interval = 1;
  append = 0;
}

FieldDiagnostic Ez {
  file = "Ez_#t.h5";
  field = "Ez";
  interval = 1;
  append = 0;
}

FieldDiagnostic Bx {
  file = "Bx_#t.h5";
  field = "Bx";
  interval = 1;
  append = 0;
}

FieldDiagnostic By {
  file = "By_#t.h5";
  field = "By";
  interval = 1;
  append = 0;
}

FieldDiagnostic Bz {
  file = "Bz_#t.h5";
  field = "Bz";
  interval = 1;
  append = 0;
}

FieldDiagnostic Jx {
  file = "Jx_#t.h5";
  field = "Jx";
  interval = 1;
  append = 0;
}

FieldDiagnostic Jy {
  file = "Jy_#t.h5";
  field = "Jy";
  interval = 1;
  append = 0;
}

FieldDiagnostic Jz {
  file = "Jz_#t.h5";
  field = "Jz";
  interval = 1;
  append = 0;
}

