
float size = 1e-5;
int nGrid = 200;
float dx = size/nGrid;

float xs = 2*(x-size/2);
float ys = 2*(y-size/2);

float wavelength = size/10;
// maximum electric field
float E0 = 1e13;
// maximum density (very low, we want to consider this a test particle)
float n0 = 1.0;

Common {
  min_x = 0;
  min_y = 0;
  max_x = size;
  max_y = size;
  N_x = nGrid;
  N_y = nGrid;
  dt = sqrt(0.5)*max_x/(N_x*clight);
  end_time = 5*max_x/clight;
}

EMFields {
  boundary_maxx="periodic";
  boundary_minx="periodic";
  boundary_maxy="periodic";
  boundary_miny="periodic";
  
  float phase = cos(2*pi*xs/wavelength);
  
  Ex = 0.0;
  Ey = E0*phase;
  Ez = 0.0;
  
  Bx = 0.0;
  By = 0.0;
  Bz = E0*phase/clight;
}


Species Electrons {
  name = "electrons";
  charge = e;
  mass = me;
  ppc = 10;
  density = n0*exp(-(xs^2+ys^2)/(0.2*dx)^2);
  densityCutoff = 0.1*n0;
  
  boundary_maxx="periodic";
  boundary_minx="periodic";
}


ParticleDiagnostic phase {
  file = "phase_#t.h5";
  field = "electrons";
  interval = 1;
  append = 0;
}

FieldDiagnostic Ey {
  file = "Ey_#t.h5";
  field = "Ey";
  interval = 1;
  append = 0;
}

FieldDiagnostic Bz {
  file = "Bz_#t.h5";
  field = "Bz";
  interval = 1;
  append = 0;
}