Common {
  end_time = 30.0;
  dt = 3.75e-4;
  min_x = 0;
  max_x = 0.3;
  N_x = 400;
}

Fields {
  
  boundary_maxx="periodic";
  boundary_minx="periodic";
  
  Ex = 0.0;
  Ey = 0.0;
  Ez = 0.0;
  
  Bx = 0.0;
  By = 0.0;
  Bz = 0.0;
}

Species Forward {
  name = "forward";
  charge = 1.0;
  mass = 1.0;
  ppc = 100;
  density = 1 + 0.01*sin(6.28318530717959*(x/0.3-0.1));
  temperaturex = 5e-4;
  temperaturey = 5e-4;
  temperaturez = 5e-4;
  driftx = 0.01;
  drifty = 0.0;
  driftz = 0.0;
  
  boundary_maxx="periodic";
  boundary_minx="periodic";
}

Species Backward {
  name = "backward";
  charge = 1.0;
  mass = 1.0;
  ppc = 100;
  density = 1 + 0.01*sin(6.28318530717959*(x/0.3-0.1));
  temperaturex = 5e-4;
  temperaturey = 5e-4;
  temperaturez = 5e-4;
  driftx = -0.01;
  drifty = 0.0;
  driftz = 0.0;
  
  boundary_maxx="periodic";
  boundary_minx="periodic";
}

FieldDiagnostic Ex {
  file = "Ex_#t.h5";
  field = "Ex";
  interval = 1000;
  append = 0;
}

FieldDiagnostic Jx {
  file = "Jx_#t.h5";
  field = "Jx";
  interval = 1000;
  append = 0;
}

ParticleDiagnostic fw {
  file = "phase_fw_#t.h5";
  field = "forward";
  interval = 1000;
  append = 0;
}

ParticleDiagnostic bw {
  file = "phase_bw_#t.h5";
  field = "backward";
  interval = 1000;
  append = 0;
}
