float size = 5e5;
float veth = sqrt(2)*6.4e4; // sqrt(2) doesn't work
float vth = 1.41*6.4e4; // sqrt(2) doesn't work

Common {
  end_time = 0.15;
  min_x = 0;
  max_x = size;
  N_x = 400;
  dt = max_x/(N_x*clight);
}

EMFields {
  
  boundary_maxx="periodic";
  boundary_minx="periodic";
  
  Ex = 0.0;
  Ey = 0.0;
  Ez = 0.0;
  
  Bx = 0.0;
  By = 0.0;
  Bz = 0.0;
}

Species Forward {
  name = "forward";
  charge = e;
  mass = me;
  ppc = 10;
  density = 10*(1 + 0.1*sin(6.28318530717959*x/5e5));  // using pi and size here causes errors
  temperaturex = vth;
  temperaturey = vth;
  temperaturez = vth;
  driftx = 2.744e6;
  drifty = 0.0;
  driftz = 0.0;
  
  boundary_maxx="periodic";
  boundary_minx="periodic";
}

Species Backward {
  name = "backward";
  charge = e;
  mass = me;
  ppc = 10;
  density = 10*(1 + 0.1*sin(6.28318530717959*x/5e5));
  temperaturex = vth;
  temperaturey = vth;
  temperaturez = vth;
  driftx = -2.744e6;
  drifty = 0.0;
  driftz = 0.0;
  
  boundary_maxx="periodic";
  boundary_minx="periodic";
}

FieldDiagnostic Ex {
  file = "Ex_#t.h5";
  field = "Ex";
  interval = 1000;
  append = 0;
}

FieldDiagnostic Jx {
  file = "Jx_#t.h5";
  field = "Jx";
  interval = 1000;
  append = 0;
}

ParticleDiagnostic fw {
  file = "phase_fw_#t.h5";
  field = "forward";
  interval = 1000;
  append = 0;
}

ParticleDiagnostic bw {
  file = "phase_bw_#t.h5";
  field = "backward";
  interval = 1000;
  append = 0;
}
