float wavelength = 0.4;
float pulselength = 1.0;

float size_x = 8.0;
float size_y = 2.0;

Common {
  min_x = 0;
  min_y = 0;
  max_x = size_x;
  max_y = size_y;
  N_x = 400;
  N_y = 100;
  dt = sqrt(0.5)*max_x/(N_x*clight);
  end_time = max_x/clight;
}

EMFields {
  float xs = 2*(x-size_x/2);
  float ys = 2*(y-size_y/2);
  
  boundary_maxx="periodic";
  boundary_minx="periodic";
  boundary_maxy="periodic";
  boundary_miny="periodic";
  
  float envelope = exp(-xs^2/pulselength^2);
  float phase = sin(2*pi*xs/wavelength);
  
  Ex = 0.0;
  Ey = envelope*phase;
  Ez = 0.0;
  
  Bx = 0.0;
  By = 0.0;
  Bz = envelope*phase/clight;
}

FieldDiagnostic Ey {
  file = "Ey_#t.h5";
  field = "Ey";
  interval = 1;
  append = 0;
}

FieldDiagnostic Bz {
  file = "Bz_#t.h5";
  field = "Bz";
  interval = 1;
  append = 0;
}