Lx = 2;
Ly = 2;
Nx = 100;
Ny = 100;

dt = 0.999*Lx/(Nx*clight);
tMax = 5*Lx/clight;
float outDt = tMax / 13;

EMFields {
  float xs = 2*(x-0.5);
  float ys = 2*(y-0.5);
  
  Ex = 0.0;
  Ey = sin(2*pi*xs);
  Ez = 0.0;
  
  Bx = 0.0;
  By = 0.0;
  Bz = sin(2*pi*xs)/clight;
}

FDTD { }

FieldDiagnostic {
  file = "Ey_#t.h5";
  field = "Ey";
  deltaTime = outDt;
}
