Common {
  min_x = 0;
  min_y = 0;
  max_x = 2;
  max_y = 2;
  N_x = 100;
  N_y = 100;
  dt = max_x/(N_x*clight);
  end_time = 5*max_x/clight;
}

Fields {
  float xs = 2*(x-0.5);
  float ys = 2*(y-0.5);
  
  boundary_maxx="periodic";
  boundary_minx="periodic";
  boundary_maxy="periodic";
  boundary_miny="periodic";
  
  Ex = 0.0;
  Ey = sin(2*pi*xs);
  Ez = 0.0;
  
  Bx = 0.0;
  By = 0.0;
  Bz = sin(2*pi*xs)/clight;
}

FieldDiagnostic {
  file = "Ey_#t.h5";
  field = "Ey";
  interval = 1;
  append = 0;
}