// simulation box size
float size = 100e-6;
int ncells = 2000;
float dx = size / ncells;

//plasma parameters
float n0 = 5e24;
float plasma_om = sqrt(n0*e^2/(me*eps0));
float width = 2*dx;

// simulation parameters
// the thermal velocity that satisfies CFL condition
float vth = dx*e * sqrt(n0/(eps0*me));

Common {
  min_x = -size/2;
  max_x =  size/2;
  min_y = -10*dx;
  max_y =  10*dx;
  N_x = ncells;
  N_y = 20;
  dt = 0.5/sqrt(2.0)*dx/clight;
  end_time = 1000*dt; // 20*2*pi/plasma_om;
}

EMFields {
  
  boundary_maxx="periodic";
  boundary_minx="periodic";
  
  boundary_maxy="periodic";
  boundary_miny="periodic";
  
  FieldInit {
    Ex = 0.0;
    Ey = 0.0;
    Ez = 0.0;
    
    Bx = 0.0;
    By = 0.0;
    Bz = 0.0;
  }
}

Species Electrons {
  name = "electrons";
  charge = e;
  mass = me;
  ppc = 1;
  density = n0*exp(-(x/width)^4);
  temperaturex = vth;
  temperaturey = vth;
  temperaturez = vth;
  driftx = 10.0*vth;
  drifty = 0.0;
  driftz = 0.0;
  
  boundary_maxx="periodic";
  boundary_minx="periodic";
  
  boundary_maxy="periodic";
  boundary_miny="periodic";
}


FieldDiagnostic Ex {
  file = "Ex_#t.h5";
  field = "Ex";
  interval = 10;
  append = 0;
}

FieldDiagnostic Ey {
  file = "Ey_#t.h5";
  field = "Ey";
  interval = 10;
  append = 0;
}

FieldDiagnostic Ez {
  file = "Ez_#t.h5";
  field = "Ez";
  interval = 10;
  append = 0;
}

FieldDiagnostic Jx {
  file = "Jx_#t.h5";
  field = "Jx";
  interval = 10;
  append = 0;
}

FieldDiagnostic Jy {
  file = "Jy_#t.h5";
  field = "Jy";
  interval = 10;
  append = 0;
}

FieldDiagnostic Jz {
  file = "Jz_#t.h5";
  field = "Jz";
  interval = 10;
  append = 0;
}

FieldDiagnostic Bx {
  file = "Bx_#t.h5";
  field = "Bx";
  interval = 10;
  append = 0;
}

FieldDiagnostic By {
  file = "By_#t.h5";
  field = "By";
  interval = 10;
  append = 0;
}

FieldDiagnostic Bz {
  file = "Bz_#t.h5";
  field = "Bz";
  interval = 10;
  append = 0;
}

